  <div class="col-lg-12 my-3">
                <div class="card rounded-4 shadow-lg ">
                  <div class="card-header text-center">
                    <h5 class="font-weight-bold mb-0">
                      Ingresos
                    </h5>
                  </div>
                  <table>
                      <thead>
                        <tr>
                          <th class="border-start p-2">Fecha</th>
                          <th class="border-start p-2">Descripción</th>
                          <th class="border-start p-2">Categoría</th>
                          <th class="border-start p-2">Monto</th>
                        </tr>
                      </thead>
                      <tbody>
                      <% current_user.businesses.each do |business| %>
                        <% business.accounts.each do |account| %>
                        <% account.earnings.each do |earning| %>
                        <tr>
                          <td class="border-start p-2"><%= earning.date %></td>
                          <td class="border-start p-2"><%= earning.note %></td>
                          <td class="border-start p-2"><%= earning.category %></td>
                          <td class="border-start p-2 text-success">$<%= earning.balance %></td>
                        </tr>
                        <% end %>
                        <% end %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
