<h1>Businesses#index</h1>

<%= link_to "New Empresa", new_business_path %>

  <% @businesses.each do |business| %>
    <div class="card">
      <div class="card-body">
        <%= link_to business.name, business %>
      </div>
    </div>
  <% end %>

  <button class="btn btn-primary" data-toggle="modal" data-target="#modal-income" >
  </button>
