  <%= link_to "Nueva empresa", new_business_path, class:"btn btn-secundary mb-2" %>

<div class="row">
  <% @businesses.each do |business| %>
    <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title"><%= link_to business.name, business %></h5>
          <p class="card-text"><%= business.description %>  </p>
        </div>
      </div>
    </div>
   <% end %>
</div>
