  <%= link_to "Nueva empresa", new_business_path, class:"btn btn-secundary mb-2" %>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <script src="javascript/main.js"></script>
  <script src=".javascript/appplication.js"></script>

  <div class="row">
  <% @businesses.each do |business| %>
    <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to business.name, business %></h5>
          <p class="card-text"><%= business.description %>  </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <button class="switch" id="switch">
    <span><i class="fa-solid fa-sun"></i></span>
    <span><i class="fa-solid fa-moon"></i></span>
  </button>
