  <%= link_to "Nueva empresa", new_business_path, class:"btn btn-secundary mb-2" %>

  <% @businesses.each do |business| %>
    <div class="card">
      <div class="card-body">
        <%= link_to business.name, business %>
      </div>
    </div>
  <% end %>
