#sidebar-container {
  background-color: var(--secondary-color);
}

.logo {
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: var(--primary);
  background-color: var(--secondary-color);
}


.sidebar-menu{
  font-size: 1.4rem;
  font-weight: lighter;
}

.sidebar-btn{
  background-color: var(--secondary-color);
  border: 0ch;
  color: #fff;
  text-decoration: none;
}


