<h1>Debts#index</h1>

<%= link_to 'Agregar Deuda', new_debt_path %>

  <% @debts.each do |debt| %>
    <div class="card">
      <div class="card-body">
        <%= link_to debt.name, debt %>
      </div>
    </div>
  <% end %>
