<h1>Budgets#index</h1>

<%= link_to 'Nuevo Presupuesto', new_budget_path %>

  <% @budgets.each do |budget| %>
    <div class="card">
      <div class="card-body">
        <%= link_to budget.name, budget %>
      </div>
    </div>
  <% end %>
