<h1>Presupuestos</h1>


  <div class="row">
  <% @budgets.each do |budget| %>
    <div class="col-lg-3 col-md-6 d-flex my-3">
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to budget.name, budget %></h5>

    <p class="card-text">En esta tarjeta encuentras la información del <%= budget.name %> si necesitas mas información, entra aquí.</p>

  </div>
</div>
</div>
<% end %>
       <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Agregar nuevo presupuesto</h5>
          <p class="card-text">Si quieres agregar un nuevo presupuesto, puedes hacerlo aquí.</p>
          <%# <%= link_to "Agregar nuevo presupuesto", new_business_saving_path(@business_id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>

</div>
