<div class="d-flex" id="content-wrapper">
  <div id="sidebar-container" class="bg-primary">
      <div class="logo">
          <h4 class="text-light font-weight-bold mb-0">FIGO</h4>
      </div>
      <div class="menu">
          <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
              Panel de control</a>

          <a href="http://127.0.0.1:3000/businesses" class="d-block text-light p-3 border-0"><i class="icon ion-md-add lead mr-2"></i>
              Registros</a>

          <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
              Metas</a>
          <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-pie lead mr-2"></i>
              Presupuesto</a>
          <a href="#" class="d-block text-light p-3 border-0"> <i class="icon ion-md-cash lead mr-2"></i>
              Deudas</a>
          <a href="#" class="d-block text-light p-3 border-0"> <i class="icon ion-md-settings lead mr-2"></i>
              Configuración</a>
          <a  class="d-block text-light p-3 border-0"> <i class="icon ion-md-log-out lead mr-2"></i>
              Cerrar Sesión</a>
      </div>
  </div>
</div>
