<div class="d-flex" id="content-wrapper">
  <!-- Sidebar -->
  <% if devise_controller? %>
  <% else %>
  <%= render "shared/aside" %>
  <% end %>
  <!-- Page Content -->
  <div class="container-fluid p-0 w-100 h-100">
      <%= render "shared/welcome" %>
      <div class="container-fluid p-4 fondeishion vh-100">
        <%= yield %>
      </div>
</div>
