<section class="bg-light m-0">
        <div class="container-fluid">
          <div class="row bg-primary">
            <div class="col-lg-9 col-md-6 ">
              <h1 class="font-weight-bold mb-0 ">
                Bienvenido, <%= current_user.email %>
              </h1>
              <p class="lead text-light">
                Este es el estado de cuenta de
                <% current_user.businesses.each do |business| %>
                  <span><%= business.name %></span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </section>
