      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h1 class="font-weight-bold mb-0">
                Bienvenido, <%= current_user.email %>
              </h1>
              <p class="lead text-muted">
                Este es el estado de cuenta de
              </p>
              <span><% current_user.businesses.each do |business|%>
                  <%= business.name %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </section>
