
          <p class="card-text"><%= link_to "Agregar Nueva Meta", new_saving_path, class:"btn btn-secundary mb-2" %> </p>
<div class="row">
  <% @savings.each do |saving| %>
    <div class="col-12 col-md-3 col-lg-3 d-flex justify-content-around rounded-pill mt-2">
      <div class="card w-100 rounded-4 shadow-lg min-vh-75">
        <div class="card-body">
        <h5 class="card-title fw-bold text-dark"><%= link_to saving.name, saving %></h5>
        <p class="card-text">En esta tarjeta encuentras la información del <%= saving.name %>, si necesitas saber más, puedes hacer click aquí.</p>
        </div>
      </div>
    </div>
   <% end %>
        </div>





