<h1>Metas</h1>
          <p class="card-text"><%= link_to "Agregar Nueva Meta", new_saving_path, class:"btn btn-secundary mb-2" %> </p>
<div class="row">
  <% @savings.each do |saving| %>
    <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">
        <%= link_to saving.name, saving %>
        <p class="card-text">En esta tarjeta encuentras la información del <%= saving.name %>, si necesitas saber más, puedes hacer click aquí.</p>
        </div>
      </div>
    </div>
   <% end %>
       <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Agregar nueva meta</h5>
          <p class="card-text">Si quieres agregar una nueva meta, puedes hacerlo aquí.</p>
          <%# <%= link_to "Agregar nueva meta", new_business_saving_path(@business_id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
</div>
