<h1>Savings#index</h1>

<%= link_to 'New Saving', new_saving_path %>

  <% @savings.each do |saving| %>
    <div class="card">
      <div class="card-body">
        <%= link_to saving.name, saving %>
      </div>
    </div>
  <% end %>
