<div class="d-flex" id="content-wrapper">
<%= render "shared/aside" %>
<div class="container fondeishion">
<h1>Transacciones</h1>
<% render "form" %>
<%= link_to "Regresar", businesses_path, class: "shadow-lg" %>
<%= link_to "Crear Nueva transacción", new_banking_path %>
</div>
</div>
