<h1>Salidas de Dinero</h1>

<div class="row">
  <% @egresses.each do |egress| %>
    <div class="col-lg-3 col-md-6 d-flex my-3">
      <div class="card">
        <div class="card-body">}
          <%= egress.account_id%>
          <%= egress.balance%>
          <%= egress.note%>
          <%= link_to egress.note, egress %>
        </div>
      </div>
    </div>
  <% end %>
</div>
