<div class="container">
  <div class="row m-1">
      <div class="card w-100 rounded-4 shadow-lg min-vh-75">
        <div class="card-body">
          <h4 class="text-center card-title fw-bold text-dark">Cuenta Nueva</h4>
          <h5 class="card-title fw-bold text-dark">
            <%= render "form" %>
          </h5>
        </div>
      </div>
  </div>
</div>
