<h1>Accounts#index</h1>
<%= link_to "Nueva Cuenta", new_business_path %>

  <% @accounts.each do |account| %>
    <div class="card">
      <div class="card-body">
        <%= link_to account.name, account %>
      </div>
    </div>
  <% end %>
